<template>
    <div>
        <form class="w-full max-w-sm" @submit.prevent>
            <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" v-model="cityname" placeholder="Enter city name" aria-label="City name">
                <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button" @click="getWeatherByCityname()">
                    Search
                </button>
            </div>
        </form>

        <div v-if="error != ''" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mt-3 rounded relative" role="alert">
            <span class="block sm:inline">{{ error }}</span>
        </div>

        <div v-if="info != ''" class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 mt-3 rounded relative" role="alert">
            <span class="block sm:inline">{{ info }}</span>
        </div>

        <div v-if="cities.length" class="mt-3">
            <div class=" flex justify-center mx-2" v-for="city in cities" v-bind:key="city.id">
                <div class="mb-3 w-64 cursor-pointer border b-gray-400 rounded flex flex-col justify-center items-center text-center p-6 bg-white rounded overflow-hidden shadow-lg">
                    <div class="text-md font-bold flex flex-col text-gray-900">
                        <span class="uppercase">{{ city.name }}</span>
                        <span class="font-normal text-gray-700 text-sm pt-2">{{ city.dt }}</span>
                    </div>
                    <div class="w-16 h-16 flex items-center justify-center">
                        <img :src="city.icon" :alt="city.description">{{ city.temp }} <sup>&deg;</sup>
                    </div>
                    <p class="text-gray-700 mb-2">{{ city.description }}</p>
                    <div class="text-1xl font-bold text-gray-900 mb-6">{{ city.temp_min }} <sup>&deg;</sup><span class="font-normal text-gray-700 mx-1">/</span>{{ city.temp_max }} <sup>&deg;</sup></div>
                    <div class="flex justify-between w-full">
                        <table class="table-fixed w-full">
                            <tbody>
                            <tr>
                                <td class="w-1/2 px-4 py-1 text-right">Wind</td><td class="w-1/2 text-left">{{ city.wind }}</td>
                            </tr>
                            <tr>
                                <td class="w-1/2 px-4 py-1 text-right">Clouds</td><td class="w-1/2 text-left">{{ city.clouds }}</td>
                            </tr>
                            <tr>
                                <td class="w-1/2 px-4 py-1 text-right">Pressure</td><td class="w-1/2 text-left">{{ city.pressure }}</td>
                            </tr>
                            <tr>
                                <td class="w-1/2 px-4 py-1 text-right">Humidity</td><td class="w-1/2 text-left">{{ city.humidity }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex w-full mt-2">
                        <div class="text-md font-bold flex text-gray-900"><span class="uppercase">Forecast</span></div>
                    </div>
                    <div class="flex w-full mt-2">
                        <table class="table-fixed w-full">
                            <tr>
                                <td class="justify-center" v-for="(forecast, fidx) in city.forecasts" v-bind:key="fidx">
                                    {{ forecast.dt_day}}
                                    <img :src="forecast.icon" :alt="forecast.description" class="w-8 h-8">{{ forecast.temp}} <sup>°</sup>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "WeathSearch",

        data() {
            return {
                cityname: "",
                cities: [],
                forecasts: [],
                error: "",
                info: "",
            };
        },

        methods: {
            getWeatherByCityname: function(){
                if(this.cityname != ''){

                    this.cities = [];
                    this.error = "";
                    this.info = "Loading ...";

                    axios.get('api/citysearch', {
                        params: {
                            cityname: this.cityname
                        }
                    }).then(response => {
                            if (response.data.length > 0) {
                                this.cities = response.data;
                                this.forecasts = response.data.forecasts;
                            } else {
                                this.error = `No results found for your search.`;
                            }
                        })
                        .catch(err => this.error = err)
                        .finally(() => this.info = '');
                }
            }
        }
    };
</script>